flujo_facturas_n8n.json
{
  "name": "Agente Facturación Electrónica",
  "nodes": [
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "options": {
          "allowUnauthorizedCerts": true
        },
        "simple": false
      },
      "id": "a1b2c3d4-imap",
      "name": "Trigger IMAP",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        260,
        400
      ],
      "credentials": {
        "imap": {
          "id": "CREATE_ME",
          "name": "Facturación IMAP"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-binary",
              "leftValue": "={{ Object.keys($binary || {}).length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-filter",
      "name": "¿Tiene Adjuntos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        500,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const JSZip = require('jszip');\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Buscar binario ZIP en los adjuntos\n    const binaries = item.binary || {};\n    let zipBinary = null;\n    let zipKey = null;\n    \n    for (const [key, bin] of Object.entries(binaries)) {\n      if (bin.fileName && bin.fileName.toLowerCase().endsWith('.zip')) {\n        zipBinary = bin;\n        zipKey = key;\n        break;\n      }\n    }\n    \n    if (!zipBinary) {\n      // Tal vez el adjunto es XML o PDF directo\n      results.push({ json: { ...item.json, error: 'No ZIP encontrado' } });\n      continue;\n    }\n    \n    // Obtener buffer del ZIP\n    const zipBuffer = await this.helpers.getBinaryDataBuffer(item, zipKey);\n    const zip = await JSZip.loadAsync(zipBuffer);\n    \n    let xmlContent = null;\n    let pdfFileName = null;\n    let xmlFileName = null;\n    \n    for (const [filename, file] of Object.entries(zip.files)) {\n      if (filename.startsWith('__MACOSX')) continue;\n      if (filename.toLowerCase().endsWith('.xml')) {\n        xmlContent = await file.async('text');\n        xmlFileName = filename;\n      }\n      if (filename.toLowerCase().endsWith('.pdf')) {\n        pdfFileName = filename;\n      }\n    }\n    \n    if (!xmlContent) {\n      results.push({ json: { ...item.json, error: 'No XML en ZIP' } });\n      continue;\n    }\n    \n    // Detectar formato\n    const isAttached = xmlContent.includes('AttachedDocument');\n    \n    let nit = 'N/A', razonSocial = 'N/A', numFactura = 'N/A';\n    let fecha = 'N/A', total = 0, descripcion = 'N/A';\n    \n    if (isAttached) {\n      const idMatch = xmlContent.match(/<cbc:ID>([^<]+)</);\n      if (idMatch) numFactura = idMatch[1].trim();\n      \n      const dateMatch = xmlContent.match(/<cbc:IssueDate>([^<]+)</);\n      if (dateMatch) fecha = dateMatch[1].trim();\n      \n      const senderMatch = xmlContent.match(/<cac:SenderParty>([\\s\\S]*?)<\\/cac:SenderParty>/);\n      if (senderMatch) {\n        const s = senderMatch[1];\n        const nitM = s.match(/<cbc:CompanyID[^>]*>([^<]+)</);\n        if (nitM) nit = nitM[1].trim();\n        const rsM = s.match(/<cbc:RegistrationName>([^<]+)</);\n        if (rsM) razonSocial = rsM[1].trim();\n      }\n      \n      // Factura embebida\n      const descMatch = xmlContent.match(/<cbc:Description>([\\s\\S]*?)<\\/cbc:Description>/);\n      if (descMatch) {\n        let embedded = descMatch[1];\n        embedded = embedded.replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/&amp;/g, '&');\n        \n        const payM = embedded.match(/<cbc:PayableAmount[^>]*>([^<]+)</);\n        if (payM) total = parseFloat(payM[1]) || 0;\n        \n        const itemDescM = embedded.match(/<cbc:Description>([^<]{1,200})</);\n        if (itemDescM) descripcion = itemDescM[1].trim();\n      }\n    } else {\n      const idMatch = xmlContent.match(/<cbc:ID>([^<]+)</);\n      if (idMatch) numFactura = idMatch[1].trim();\n      \n      const dateMatch = xmlContent.match(/<cbc:IssueDate>([^<]+)</);\n      if (dateMatch) fecha = dateMatch[1].trim();\n      \n      const supMatch = xmlContent.match(/<cac:AccountingSupplierParty>([\\s\\S]*?)<\\/cac:AccountingSupplierParty>/);\n      if (supMatch) {\n        const s = supMatch[1];\n        const nitM = s.match(/<cbc:CompanyID[^>]*>([^<]+)</);\n        if (nitM) nit = nitM[1].trim();\n        const rsM = s.match(/<cbc:RegistrationName>([^<]+)</);\n        if (rsM) razonSocial = rsM[1].trim();\n      }\n      \n      const payM = xmlContent.match(/<cbc:PayableAmount[^>]*>([^<]+)</);\n      if (payM) total = parseFloat(payM[1]) || 0;\n      \n      const itemDescM = xmlContent.match(/<cbc:Description>([^<]{1,200})</);\n      if (itemDescM) descripcion = itemDescM[1].trim();\n    }\n    \n    results.push({\n      json: {\n        nit_emisor: nit,\n        razon_social: razonSocial,\n        numero_factura: numFactura,\n        fecha_emision: fecha,\n        valor_total: total,\n        descripcion: descripcion,\n        archivo_pdf: pdfFileName || 'N/A',\n        archivo_xml: xmlFileName || 'N/A',\n        email_from: item.json.from?.text || item.json.from || '',\n        email_date: item.json.date || ''\n      }\n    });\n  } catch (error) {\n    results.push({\n      json: { error: error.message, email_subject: item.json.subject || '' }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-parse",
      "name": "Descomprimir ZIP y Parsear XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        340
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Hoja 1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "a1b2c3d4-sheets",
      "name": "Registrar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1000,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREATE_ME",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-noop",
      "name": "Sin Adjuntos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        740,
        520
      ]
    }
  ],
  "connections": {
    "Trigger IMAP": {
      "main": [
        [
          {
            "node": "¿Tiene Adjuntos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Adjuntos?": {
      "main": [
        [
          {
            "node": "Descomprimir ZIP y Parsear XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir ZIP y Parsear XML": {
      "main": [
        [
          {
            "node": "Registrar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}