flujo_facturas_n8n.json
{
  "name": "Agente Facturación Electrónica",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "Disparador Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-cron",
      "name": "Cada 5 Minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        520
      ]
    },
    {
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "options": {
          "customEmailConfig": [
            {
              "property": "host",
              "value": "mail.suprokom.com"
            },
            {
              "property": "port",
              "value": "993"
            },
            {
              "property": "secure",
              "value": "true"
            }
          ]
        }
      },
      "id": "imap-read",
      "name": "Leer Correos IMAP",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        300,
        400
      ],
      "credentials": {
        "imap": {
          "id": "IMAP_CREDENTIAL_ID",
          "name": "Facturación Suprokom IMAP"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Procesar adjuntos de cada correo\nconst items = [];\n\nfor (const item of $input.all()) {\n  const binaries = item.binary || {};\n  \n  // Buscar adjuntos ZIP\n  for (const [key, binaryData] of Object.entries(binaries)) {\n    if (binaryData.fileName && binaryData.fileName.toLowerCase().endsWith('.zip')) {\n      items.push({\n        json: {\n          email_from: item.json.from?.text || item.json.from || 'Desconocido',\n          email_subject: item.json.subject || 'Sin asunto',\n          email_date: item.json.date || 'Sin fecha',\n          attachment_name: binaryData.fileName,\n          has_zip: true\n        },\n        binary: {\n          zip_file: binaryData\n        }\n      });\n    }\n  }\n}\n\nif (items.length === 0) {\n  items.push({ json: { message: 'No se encontraron adjuntos ZIP', has_zip: false } });\n}\n\nreturn items;"
      },
      "id": "extract-attachments",
      "name": "Extraer Adjuntos ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-zip",
              "leftValue": "={{ $json.has_zip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-zip",
      "name": "¿Tiene ZIP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const JSZip = require('jszip');\nconst { parseStringPromise } = require('xml2js');\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  try {\n    // Obtener el buffer del ZIP\n    const zipBuffer = await this.helpers.getBinaryDataBuffer(item, 'zip_file');\n    const zip = await JSZip.loadAsync(zipBuffer);\n    \n    let xmlContent = null;\n    let pdfFileName = null;\n    let xmlFileName = null;\n    \n    // Buscar XML y PDF dentro del ZIP\n    for (const [filename, file] of Object.entries(zip.files)) {\n      if (filename.toLowerCase().endsWith('.xml')) {\n        xmlContent = await file.async('text');\n        xmlFileName = filename;\n      }\n      if (filename.toLowerCase().endsWith('.pdf')) {\n        pdfFileName = filename;\n      }\n    }\n    \n    if (!xmlContent) {\n      results.push({\n        json: {\n          ...item.json,\n          error: 'No se encontró XML en el ZIP',\n          nit_emisor: 'N/A',\n          razon_social: 'N/A',\n          numero_factura: 'N/A',\n          fecha_emision: 'N/A',\n          valor_total: 0,\n          descripcion: 'N/A'\n        }\n      });\n      continue;\n    }\n    \n    // Parsear XML\n    const parsed = await parseStringPromise(xmlContent, {\n      explicitArray: false,\n      ignoreAttrs: false,\n      tagNameProcessors: [(name) => name.split(':').pop()]\n    });\n    \n    // Detectar si es AttachedDocument o Invoice\n    const root = parsed.AttachedDocument || parsed.Invoice || parsed;\n    let invoiceData = null;\n    \n    let nit = 'N/A';\n    let razonSocial = 'N/A';\n    let numFactura = 'N/A';\n    let fecha = 'N/A';\n    let total = 0;\n    let descripcion = 'N/A';\n    \n    if (parsed.AttachedDocument) {\n      // Formato AttachedDocument (factura colombiana)\n      const doc = parsed.AttachedDocument;\n      numFactura = doc.ID || doc.ParentDocumentID || 'N/A';\n      fecha = doc.IssueDate || 'N/A';\n      \n      // SenderParty\n      const sender = doc.SenderParty;\n      if (sender && sender.PartyTaxScheme) {\n        nit = sender.PartyTaxScheme.CompanyID?._  || sender.PartyTaxScheme.CompanyID || 'N/A';\n        razonSocial = sender.PartyTaxScheme.RegistrationName || 'N/A';\n      }\n      \n      // Factura embebida en Attachment\n      const attachment = doc.Attachment;\n      if (attachment && attachment.ExternalReference && attachment.ExternalReference.Description) {\n        try {\n          const embeddedXml = attachment.ExternalReference.Description;\n          const embeddedParsed = await parseStringPromise(embeddedXml, {\n            explicitArray: false,\n            ignoreAttrs: false,\n            tagNameProcessors: [(name) => name.split(':').pop()]\n          });\n          \n          const invoice = embeddedParsed.Invoice;\n          if (invoice) {\n            // Total\n            if (invoice.LegalMonetaryTotal) {\n              const lmt = invoice.LegalMonetaryTotal;\n              const payable = lmt.PayableAmount?._ || lmt.PayableAmount || '0';\n              total = parseFloat(payable) || 0;\n            }\n            \n            // Descripción primer item\n            let invoiceLine = invoice.InvoiceLine;\n            if (invoiceLine) {\n              if (Array.isArray(invoiceLine)) invoiceLine = invoiceLine[0];\n              if (invoiceLine.Item) {\n                descripcion = invoiceLine.Item.Description || invoiceLine.Item.Name || 'N/A';\n              }\n            }\n          }\n        } catch(e) {\n          // Error al parsear factura embebida\n        }\n      }\n    } else if (parsed.Invoice) {\n      // Invoice directo\n      const inv = parsed.Invoice;\n      numFactura = inv.ID || 'N/A';\n      fecha = inv.IssueDate || 'N/A';\n      \n      const supplier = inv.AccountingSupplierParty?.Party;\n      if (supplier) {\n        const taxScheme = supplier.PartyTaxScheme;\n        if (taxScheme) {\n          nit = taxScheme.CompanyID?._ || taxScheme.CompanyID || 'N/A';\n          razonSocial = taxScheme.RegistrationName || 'N/A';\n        }\n        if (razonSocial === 'N/A' && supplier.PartyLegalEntity) {\n          razonSocial = supplier.PartyLegalEntity.RegistrationName || 'N/A';\n        }\n      }\n      \n      if (inv.LegalMonetaryTotal) {\n        const payable = inv.LegalMonetaryTotal.PayableAmount?._ || inv.LegalMonetaryTotal.PayableAmount || '0';\n        total = parseFloat(payable) || 0;\n      }\n      \n      let invoiceLine = inv.InvoiceLine;\n      if (invoiceLine) {\n        if (Array.isArray(invoiceLine)) invoiceLine = invoiceLine[0];\n        if (invoiceLine.Item) {\n          descripcion = invoiceLine.Item.Description || invoiceLine.Item.Name || 'N/A';\n        }\n      }\n    }\n    \n    results.push({\n      json: {\n        nit_emisor: nit,\n        razon_social: razonSocial,\n        numero_factura: numFactura,\n        fecha_emision: fecha,\n        valor_total: total,\n        descripcion: descripcion,\n        archivo_pdf: pdfFileName || 'No encontrado',\n        archivo_xml: xmlFileName || 'No encontrado',\n        email_from: item.json.email_from,\n        email_subject: item.json.email_subject,\n        email_date: item.json.email_date\n      }\n    });\n    \n  } catch (error) {\n    results.push({\n      json: {\n        ...item.json,\n        error: `Error procesando: ${error.message}`,\n        nit_emisor: 'N/A',\n        razon_social: 'N/A',\n        numero_factura: 'N/A',\n        fecha_emision: 'N/A',\n        valor_total: 0,\n        descripcion: 'N/A'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "parse-xml",
      "name": "Descomprimir ZIP y Parsear XML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        340
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $env.GOOGLE_SHEET_URL }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Hoja 1"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Registrar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1260,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_CREDENTIAL_ID",
          "name": "Google Sheets OAuth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-zip",
              "name": "mensaje",
              "value": "=Correo sin adjuntos ZIP procesables",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-zip-output",
      "name": "Sin ZIP",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        520
      ]
    }
  ],
  "connections": {
    "Disparador Manual": {
      "main": [
        [
          {
            "node": "Leer Correos IMAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cada 5 Minutos": {
      "main": [
        [
          {
            "node": "Leer Correos IMAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Correos IMAP": {
      "main": [
        [
          {
            "node": "Extraer Adjuntos ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Adjuntos ZIP": {
      "main": [
        [
          {
            "node": "¿Tiene ZIP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene ZIP?": {
      "main": [
        [
          {
            "node": "Descomprimir ZIP y Parsear XML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir ZIP y Parsear XML": {
      "main": [
        [
          {
            "node": "Registrar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Facturación",
      "id": "1"
    }
  ]
}